.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 80;
}

.container--footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(20px) 0;
    background: #FFFFFF;

    @include tablets{
        padding: rem(20px) 2%;
    }

    @include phones{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
}

.contacts__footer{
    display: inline-flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;

    @include tablets{
        padding: rem(32px) 1.6% rem(28px) 2%;
    }

    @include phones{
        text-align: center;
        align-items: center;
        margin-bottom: 0;
        padding-bottom: rem(17px);
    }
}

.contacts__adds-text{
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #292929;

    @include tablets{
        font-size: rem(21px);
    }

    @include phones{
        margin-bottom: 12px;
        font-size: rem(18px);
    }
}

.contacts__adds-phone{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;


    @include tablets{
        color: #E01F3D;
        fill: #E01F3D;
    }
    
}

.socials{
    transform: translateX(29px);

    @include phones{
        transform: translateX(0); 
    }
}

.social__list{
    display: flex;

    @include phones{
        display: inline-flex;
    }
}

.social__item{
    margin-right: 10px;

    @include phones{
        margin-right: 5px;   
    }
    
    &:last-child{
        margin-right: 0;
    }
}

.social-icon{
    width: 30px;
    height: 30px;
    transition: 0.2s;
   
    

    fill:#B3B3B3;

    &:hover{
        fill:black; 
        transition: 0.5s;
    }

    @include tablets{
        width: rem(32px);  
        height: rem(32px); 
    }

    @include phones{
        width: 24px;
        height: 24px;  
    }
}

.social-icon__link{
    @include phones{
        margin-right: 14px;

        &:last-child{
            margin-right: 10px;
        }
    }
}

