.reviews{
    padding: rem(64px) rem(79px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    min-height: rem(650px);
    background-color: #fff;

    @include tablets {
        justify-content: center;
        padding: 0 10px;
    }
}

.reviews__title{
    margin-bottom: rem(32px);

    @include tablets {
        margin-bottom: 35px;
    }

    @include phones{
        margin-bottom: 25px;
    }
}

.reviews__slider{
    display: flex;
    overflow: hidden;
}

.reviews__list{
    position: relative;
    right: 0;
    transition: right .3s;
}

.reviews__item{
    position: absolute;
    opacity: 0;
    transition: right .3s;
    background: #F8FAF9;
    display: flex;
    padding: rem(42px);
    align-items: center;
    margin-bottom: rem(15px);
    overflow: hidden;

    &--showing{
        position: static;
        opacity: 1;
    }

    &::before{
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: rem(-65px);
        transform: translate(-50%);
        width: rem(83px);
        height: rem(83px);
        border-radius: 50%;
        background-color: #fff;
    }

    @include tablets {
        flex-direction: column;
        padding: rem(55px) rem(15px);
        text-align: center;
    }
}

.reviews__item-avatar{
    margin-right: rem(40px);
    width: rem(253px);
    height: rem(264px);

    @include tablets {
        width: 130px;
        height: 130px;
        margin-right: 0;
        margin-bottom: 32px;
    }

    @include phones{
        margin-bottom: 21px;
    }
}

.reviews__item-text{
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: rem(500px);
    
    @include tablets {
        text-align: center;
        max-width: 100%;
    }

    
}  

.text__title{
    margin-bottom: rem(27px);

    @include tablets{
        margin-bottom: 1rem;
    }

    @include phones{
        margin-bottom: 12px;
    }
}

.text__desc{
    margin-bottom: rem(38px);

    @include tablets{
        margin-bottom: rem(15px);
    }
}

//users

.reviews-users__list{
    display: flex;
    justify-content: center;


}

.reviews-users__item{
    margin-right: rem(6px);

    &:last-child{
        margin-right: 0;
    }
}

.reviews-user__link-img{
    width: rem(74px);
    height: rem(74px);
    border-radius: 50%;
    border: none;
}

.interactive__avatar{
    border: rem(4px) solid transparent;
    border-radius: 50%;
    // overflow: hidden;

    &:hover{
        border: rem(4px) solid red;
    }

    &--active{
        border-color: #E01F3D;

        &:hover{
            border: rem(4px) solid #E01F3D;
        }
    }

    
}

.reviews-user__avatar{
    border-radius: 50%;
}

.interactive__avatar-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form--btn--theme--red{
    margin-right: 15px;
}