.slider__shop-btn{
    display: flex;
    z-index: $z-slider-shop;  
    width: 100%; 
    cursor: pointer;
}

.slider__shop-left{
    position: absolute;
    top: 50%;
    left: -3%;
    z-index: 5;

    @include tablets{
        top: 26.2%;
        left: 18.5%;
    }

    @include phones{
        top: 22.8%;
        left: 0%;
    }
}

.slider__shop-right{
    transform: rotate(-180deg);
    position: absolute;
    top: 48%;
    right: -1.5%;
    z-index: 5;

    @include tablets{
        top: 25%;
        right: 19%;   
    }

    @include phones{
        top: 21.65%;
        right: 0%;
    }
}

.shop{
    // position: relative;
    justify-content: center;
    flex-direction: column;
    // display: flex;
    background: #F8FAF9;
    padding: 64px 0 96px;
}

.slider__shop{
    // display: flex;
    // width: 100%;
    // overflow: hidden;
    position: relative;

    .bx-wrapper{
        border: 0;
        background: transparent;
        box-shadow: none;
    }
}

.shop__list{
    // display: flex;
    // justify-content: space-between;
    // position: relative;
    // width: 100%; 
    font-size: 30px;
    // right: 0;
    // transition: right .3s;
}



.slider__shop-icon{
    width: 15px;
    height: 27px;
}

.shop__item{
    flex-shrink: 0;
    width: 100%;
    background: #F8FAF9;   
    display: flex;
    // flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    padding-left: 29px;
    align-items: flex-start;

    @include tablets{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    // @include phones{
    //     flex-shrink: unset;
    // }
}

.shop__img{
    flex: 1;
    margin-right: 60px;
    margin-top: 30px;
    
    &::before{
        width: rem(452px);
        height: rem(452px); 
        border-radius: 50%;
        background: #fff;

        @include tablets{
            width: 306px;
            height: 306px;
        }
    }

    @include tablets{
        width: 306px;
        height: 306px;
        margin-right: 0px;
        margin-bottom: 45px;
    }

    @include phones{
        margin-bottom: 20px;
    }
}

.shop__add{
    padding: 0;
    text-decoration: none;
    border: none;
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 4px;
    background: #9A9A9A; 
    margin-bottom: 25px; 
    z-index: 11; 

    @include tablets{
        display: none;
    }

    &:hover .shop__add-dropdown{
        // left: inherit;
        top: calc(100% - 92px);
        left: calc(100% - 1px);
        // right: 0;
        opacity: 0.95;
        color: #fff;
        transition: 0.3s ease;
    }
}

.shop__add-dropdown{
    position: absolute;
    padding: 28px 25px 34px 30px;
    background: rgba(255, 255, 255, 0.8);;
    backdrop-filter: blur(40px);
    
    color: #1E1F20;
    font-size: 13px;
    line-height: 21px;
    border-radius: 4px;
    text-align: left;
    left: 9999px;
    opacity: 0;
    min-width: 160px;
}

.dropdown__item{
    display: flex;
    min-width: 273px;
    justify-content: space-between;
    margin-bottom: 28px;

    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    &:last-child{
        margin-bottom: 0;
    }
}

.dropdown__item-icon{
    
    width: 24px;
    height: 24px;
    margin-right: 17px;
}

.dropdown__item--col{
    display: flex;
    align-items: center;
    text-align: center;
}

// .dropdown__item-feature{
//     font-family: 'Play';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 24px;
//     color: #000000;
// }

.shop__add-icon{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 42px;
    height: 42px;
}

.shop__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 24px;

    @include tablets{
        font-size: 29px;
        line-height: 32px;
        margin-bottom: 13px;
    }
}

.shop__col{
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 50%;

    @include tablets{
        text-align: center;
        justify-content: center;
        max-width: 99%;
    }
}

.shop__desc{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 368px;

    @include tablets{
        max-width: 90%;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }

    @include phones{
        max-width: 97%;
    }
}

.shop__desc-text{
    margin-bottom: 30px;

    @include tablets{
        text-align: center;
    }

    @include phones{
        margin-bottom: 25px;
    }
}

.shop-feature__list{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    margin-bottom: 24px;

    @include tablets{
        justify-content: center;
    }
}

.shop-feature__item{
    margin-right: 86px;

    &:last-child{
        margin-right: 0px;
    }
}

.shop-feature__item-title{
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.shop-feature__item-desc{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: black;
}

.shop__desc-price{
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    color: black;
    margin-right: 13px;

    @include tablets{
        font-size: 40px;
    }

    @include phones{
        font-size: 32px;
    }
}

.shop__desc-row{
    display: flex;

    @include tablets{
        justify-content: center;
    }
}
