.preview{
    background-color: #F5F5F5;
    background-image: url(../image/preview/headphones1100.svg);
    background-repeat: no-repeat;
    background-position: left 73% center;
    display: flex;
    height: 100vh;
    min-height: rem(650px);

    @include tablets{
        background-image: none;
    }

    &::after{
        content: "";
        width: 46px;
        height: 10px;
        background-color:  #C4C4C4;
        position: absolute;
        right: 10%;
        bottom: 0;
        transform: rotate(-45deg);
    }

    // &::after{
    //     content: "";
    //     width: 24px;
    //     height: 24px;
    //     position: absolute;
    //     bottom: -200%;
    //     right: 10%;

    //     background: #292929;
    //     transform: rotate(29.11deg);
    // }
}

.container--preview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;   
}

.preview__section{
    width: 47%;
    // padding: rem(70px) 0;

    @include tablets{
        width: 100%;
        padding: 0 7%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &::before{
            content: "";
            background: url(../image/preview/headphones.svg) center center / contain no-repeat;
            width: rem(323px);
            height: rem(323px);
            padding-bottom: 1.75rem;
        }
    }

    @include phones{
        padding: 0 13%;
    }
}

.preview__title{
    text-align: left;
    margin-bottom: rem(23px);

    @include tablets{
        text-align: center;
    }
}

.preview__desc{
    font-family: 'Alegreya Sans';
    font-weight: 400;
    font-size: rem(21px);
    line-height: rem(25px);
    margin-bottom: rem(35px);
    color: #292929;
}

.features{
    display: flex;
    align-items: center;
    padding-bottom: rem(60px);

    @include tablets{
        display: none;
    }
}

.features__item{
    margin-right: rem(33px);
    display: flex;
    align-items: center;
    font-size: $baseFontsSize;
    color: #292929;
    font-style: normal;
    font-weight: normal; 
}

.feature__icon{
    margin-right: rem(10px);
    max-width: rem(41px);
    max-height: rem(41px);

    .feature__icon-img{
        max-width: 100%;
        max-height: 100%;
    }
}

.feature__text{
    max-width: rem(90px);
}


